*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.box{
    height: 100vh;
    width: 100vw;
    /* border: 5px solid red; */
    display: flex;
   
    justify-content: center;
    align-items: center;
}
 
.div1 {
    height: 200px;
    width: 200px;
    /* border: 5px dotted gray; */
    /* border-radius: 50%; */
    /* display: flex;
    justify-content: center; */
     /* position:relative; */
    
}

.div2{
    
    height: 50px;
    width:50px;
    border-radius: 50%;
    background-color: red;
     animation-name:krishan ;
    animation-duration: 5s;
    animation-delay: 3s;
    position: relative;
    animation-timing-function: cubic-bezier();
    animation-iteration-count:infinite;
   
  
}
@keyframes krishan {
    0%{ left: 0px;
        top: 0px;
    }
    25%{
        left: 150px;
        top: 0px;
        background-color: aquamarine;
    }
    50%{
        left: 150px;
        top: 150px;
        background-color: lightcoral;
    }
    75%{
        left: 0px;
        top: 150px;
        background-color: black;
    }
    100%{
        left: 0px;
        top: 0px;

    }
    
}
.div3{
    
    height: 50px;
    width:50px;
    border-radius: 50%;
    background-color: green;
     animation-name: sumit ;
    animation-duration: 5s;
    animation-delay: 3s;
    position: relative;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
    align-self: flex-end;
}
@keyframes sumit {
    0%{ left: 150px;
        top: 100px;
        background-color: lightgreen;
    }
    25%{
        left: 150px;
        top: 0px;
        background-color: darkcyan;
    }
    50%{
        left:0px;
        top: 0px;
        background-color: violet;
    }
     75%{
        left: 0px;
        top: 100px;
        background-color: purple;
    }
    100%{
        top: 0px;
        left: 150px;
    }
    
}